@using ISS.Core.Model.Order;
@model WorkOrderDetail
<title> Select a Category </title>
@using (Html.BeginForm("GetCatCode", "Order", FormMethod.Post, new { Id = "frmCatCode" }))
{
    @(Html.Kendo().Grid<WorkOrderDetail>().Name("grdCatCode").HtmlAttributes(new { @class = "kgridheightsmall" }).Columns(
                        columns =>
                        {
                            columns.Command(command => command.Custom("Select").Click((ViewBag.SelectEvent == null) ? "WO.showCatCodeDetails" : ViewBag.SelectEvent)).Width(ISS.Common.LOVConstants.Width.Medium1).Title("Select");
                            columns.Bound(s => s.CategoryCode).Width(ISS.Common.LOVConstants.Width.Small3);
                            columns.Bound(s => s.CategoryDescription);
                        }
                        )
                        .AutoBind(false)
                        .Scrollable(scroll =>
                            {
                                scroll.Enabled(true);
                                scroll.Height("auto");
                            })
                        .Resizable(resizing => resizing.Columns(true)).Pageable(conf =>
                            {
                                conf.PageSizes(ISS.Common.LOVConstants.PageSizes);
                                conf.Enabled(true);
                            })
                                .Events(e => e.DataBound("ISS.common.dataBoungGrid"))
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .ServerOperation(false)
                            .Read(read =>
                            {
                                read.Action("GetCatCode", "Order", new { area = "" });
                                //read.Data("WO.retrieveMFGData");
                            })
                        )

    )
}




