
@{
    ViewBag.Title = "ComingSoon";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Maintenance</title>
</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <center>
        @*<img alt="" src="@Url.Action("HBILogo3.png", "images")" />*@
        <p style="font-size: 30px;color: #6B6868;font-family: Verdana,Arial,Helvetica,sans-serif;margin: 20px 0 25px 0;">Page is under construction ... </p>
       
        <p style="font-size: 22px;color: #6B6868;font-family: Verdana,Arial,Helvetica,sans-serif;margin: 20px 0 25px 0;">
            Please be patient, we are weaving the dress.
        </p>
        <img alt="" src="@Url.Action("black-icon-knitting.png", "images")" />
    </center>

</body>
</html>

