<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess,    Version=2.102.4.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <!--4.112.3.0-->
    </DbProviderFactories>
    <!--<DbProviderFactories>
      <add name="EntLibContrib.Data.OdpNet" invariant="EntLibContrib.Data.OdpNet" description="EntLibContrib Data OdpNet Provider" type="EntLibContrib.Data.OdpNet.OracleDatabase, EntLibContrib.Data.OdpNet, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"/>
    </DbProviderFactories>-->
  </system.data>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-StyleNavigator.MVC-20140219073733;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-StyleNavigator.MVC-20140219073733.mdf" providerName="System.Data.SqlClient" />
    <add name="StyleNavigator.DAL.UnitOfWork" connectionString="metadata=res://*/Model.Profiles.csdl|res://*/Model.Profiles.ssdl|res://*/Model.Profiles.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\v11.0;attachdbfilename=&quot;D:\Work\Technology Services\TFS\USTI-STSR-TS-00\POC\HBI\APS\StyleNavigator.MVC\App_Data\Contacts.mdf&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <add name="TProd1" connectionString="Data Source=tprod1; User Id=opruprod; Password=testutest;Persist Security Info=True;Enlist=false;Max Pool Size=100;" providerName="System.Data.OracleClient" />
    <add name="Prod1" connectionString="Data Source=Prod1; User Id=SVCISS; Password=svc#123;Persist Security Info=True;Enlist=false" providerName="System.Data.OracleClient" />
    <add name="SProd1" connectionString="Data Source=Sprod1; User Id=Oprsprod; Password=teststest;Persist Security Info=True;Enlist=false;Pooling=true;Max Pool Size=100;" providerName="System.Data.OracleClient" />
    <add name="Prod4d" connectionString="Data Source=prod4d; User Id=opruprod; Password=testutest;Persist Security Info=True;Enlist=false;Pooling=true;Max Pool Size=100;" providerName="System.Data.OracleClient" />
    <add name="Prod4i" connectionString="Data Source=Prod4i; User Id=opruprod; Password=testutest;Persist Security Info=True;Enlist=false;Pooling=true;Max Pool Size=100;" providerName="System.Data.OracleClient" />
   <add name="Prod4" connectionString="Data Source=Prod4; User Id=nieaswar; Password=Jan@2023;Persist Security Info=True;Enlist=false;Pooling=true;Max Pool Size=100;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="Prod4i">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data" name="System.Data.OracleClient" />
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="EnableAuthorization" value="false" />
    <add key="RoleConfigFile" value="UserRoleConfig.xml" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
        <bindingRedirect oldVersion="2.0.414.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Temp\m\logHA.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
        <conversionPattern value="%newline%newline%date %newline%logger                         [%property{NDC}] %newline&gt;&gt; %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <logger name="RefApp">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>